body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    padding: 0px 100px 60px;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    gap: 15px;
    list-style-type: none;
}

.head-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.head-links,
.hero-sub,
.placeholder-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}